{% extends 'base.html.twig' %}

{% block body %}
    {% for blueprint in blueprints %}
        <li><a href="{{ path('show_blueprint', {'id': blueprint.id}) }}">{{ blueprint.name }}</a></li>
    {% else %}
        <p>No blueprints found.</p>
    {% endfor %}
{% endblock %}